<h2>Cars in The Lot</h2>

<pre>
            __---~~~~--__                      __--~~~~---__
            `\---~~~~~~~~\\                    //~~~~~~~~---/'
              \/~~~~~~~~~\||                  ||/~~~~~~~~~\/
                          `\\                //'
                            `\\            //'
                              ||          ||
                    ______--~~~~~~~~~~~~~~~~~~--______
               ___ // _-~                        ~-_ \\ ___
              `\__)\/~                              ~\/(__/'
               _--`-___                            ___-'--_
             /~     `\ ~~~~~~~~------------~~~~~~~~ /'     ~\
            /|        `\         ________         /'        |\
           | `\   ______`\_      \------/      _/'______   /' |
           |   `\_~-_____\ ~-________________-~ /_____-~_/'   |
           `.     ~-__________________________________-~     .'
            `.      [_______/------|~~|------\_______]      .'
             `\--___((____)(________\/________)(____))___--/'
              |>>>>>>||                            ||<<<<<<|
            `\<<<<</'                            `\>>>>>/'                             `\>>>>>/'
</pre>

<pre>
                                    _._
                               _.-="_-         _
                          _.-="   _-          | ||"""""""---._______     __..
              ___.===""""-.______-,,,,,,,,,,,,`-''----" """""       """""  __'
       __.--""     __        ,'                   o \           __        [__|
  __-""=======.--""  ""--.=================================.--""  ""--.=======:
 ]       [w] : /        \ : |========================|    : /        \ :  [w] :
 V___________:|          |: |========================|    :|          |:   _-"
  V__________: \        / :_|=======================/_____: \        / :__-"
  -----------'  ""____""  `-------------------------------'  ""____""
</pre>

<% @cars.each do |car| %>
  <ul class = list>
    <li><strong><%="Car #{car.id}" %></strong></li>
    <li><%= "Year: #{car.year}" %></li>
    <li><%= "Mileage: #{car.mileage}" %></li>
    <li><%= "Manufacturer: #{car.manufacturer.name}" %></li>
    <li><%= "Color: #{car.color}" %></li>
    <% if car.description %>
      <li> <%= "Description: #{car.description}" %></li>
    <% end %>
  </ul>
<% end %>
